In [1]:
# Dataframe Introduction

In [3]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [4]:
# DataFrame is a 2-dimensional labeled data structure with columns of potentially 
# different types. You can think of it like a spreadsheet or SQL tableDataFrame is a 
# 2-dimensional labeled data structure with columns of potentially different types. 
# You can think of it like a spreadsheet or SQL table

In [5]:
# Like pd series, the row labels/names are called index
# Unlike pd series, since they have a table structure, they also have column names/labels
# The  basic method to create a dataframe is:
# pd.DataFrame(data , index=['d', 'b', 'a'], columns=['two', 'three']). Col name not necessary

In [6]:
# Examples
# 1. Creating a dataframe from Dict of series

d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [19]:
df = pd.DataFrame(d)

df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>b</th>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>c</th>
      <td>3.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>d</th>
      <td>NaN</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
pd.DataFrame(d, index=['d', 'b', 'a'])

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>d</th>
      <td>NaN</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>b</th>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>a</th>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# Dataframe from From dict of ndarrays / lists`
# The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays.
#  If no index is passed, the result will be range(n), where n is the array length

d = {'one' : [1., 2., 3., 4.],
        'two' : [4., 3., 2., 1.]}

In [ ]:
d

In [30]:
r =pd.DataFrame(d)
r

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>1.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>b</th>
      <td>2.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>c</th>
      <td>3.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>d</th>
      <td>4.0</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
# Dataframe from structured array
data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])

In [41]:
data

array([(0, 0.0, ''), (0, 0.0, '')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [42]:
data[:]

array([(0, 0.0, ''), (0, 0.0, '')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])